= form_for @newsletter, action: newsletters_path, html: { class: 'container' } do |f|
  - if @newsletter.errors.any?
    #error_explanation
      %h2= "#{pluralize(@newsletter.errors.count, "error")} prohibited this newsletter from being saved:"
      %ul
        - @newsletter.errors.full_messages.each do |message|
          %li= message
  = f.email_field :email, placeholder: 'Your email', class: 'input'
  = f.submit 'Submit', class: 'button border'
