#plis.modal.open
  .modal__inner
    .modal__close
    = form_for @link, url: links_url do |f|
      - if @link.errors.any?
        #error_explanation
          %h2= "#{pluralize(@link.errors.count, "error")} prohibited this link from being saved:"
          %ul
            - @link.errors.full_messages.each do |msg|
              %li= msg

      .field
        = f.label :url
        = f.text_field :url
      .field
        = f.label :tag_list
        = f.select :tag_list, [], {}, multiple: true, class: 'select2', "data-tags": "errorsmith", placeholder: "playlist, artist, event, subgenre"
      .field
        = f.label :genre_list
        = f.select :genre_list, [], {}, multiple: true, class: 'select2', "data-tags": @genres.empty? ? "Ambient,Baile Funk,Classical,Electronica,Hip Hop,Techno/House,Reggae,Samba" : @genres.join(','), placeholder: "This will be a predefined list in the future"
      .field
        = f.label :description
        = f.text_area :description
      .actions
        = f.submit 'Save'
  = stylesheet_link_tag( stylesheet_url 'modal')