#diggersdelights.modal.open
  .modal__inner
    .modal__close
    = form_for @link, url: links_url do |f|
      - if @link.errors.any?
        #error_explanation
          %h2= "#{pluralize(@link.errors.count, "error")} prohibited this link from being saved:"
          %ul
            - @link.errors.full_messages.each do |msg|
              %li= msg
      = f.hidden_field :clique_id
      .field
        = f.label :url
        = f.text_field :url
      .field
        = f.label :tag_list
        = f.select :tag_list, @tags, {}, multiple: true, class: 'select2', "data-tags": @tags.join(','), placeholder: "playlist, artist, event, subgenre"
      .field
        = f.label :genre_list
        = f.select :genre_list, @genres, {}, multiple: true, class: 'select2', "data-tags": @genres.join(','), placeholder: "This will be a predefined list in the future"
      .field
        = f.label :description
        = f.text_area :description
      .field.field--radio
        = f.label :is_a_set_mix, 'Mix'
        = f.radio_button :is_a_set, "1"
        = f.radio_button :is_a_set, "0", checked: true
        = f.label :is_a_set_single_track, 'Single Track / Playlist'
      .field
        = f.check_box :published
        = f.label :published, "Make this post visible to other users?"
      .actions
        = f.submit 'Save'
  = stylesheet_link_tag( stylesheet_url 'modal')