%div{data: { url: link.url, provider: link.oembed['provider'], html: link.oembed['html'], play: true }}
    %h3= link.oembed['title']
    %h4= link_to link.oembed['author_name'], link.oembed['author_url'], target: "_blank"
    = image_tag link.oembed['thumbnail_url']
    = "Submitted by #{link.user.try(:name)}"
    %em= link.tag_list.join(', ')
    %div= link_to "view original", link.url, target: "_blank"
    %div.play play