%div.link.item.full-bg{style: "background-image: url(#{link.thumbnail_url})",data: { url: link.url, provider: link.provider_name, html: link.html, play: true }}
    .item__thumbnail= image_tag link.thumbnail_url, width: link.width, height: link.height
    .item__infos
        %h3.item__title
            = link.title
        .item__top
            .item__submitted
                = fa_icon 'user', class: "nouse-icon"
                = "#{link.user.try(:name)}"
            %h4    
                = link_to link.author_name, link.author_url, target: "_blank"
        .item__bottom
            %em
                = fa_icon 'tags', class: "nouse-icon"
                = link.tag_list.join(', ')
            .item__controls
                = link_to fa_icon(link.provider_name.try(:downcase)), link.url, target: "_blank"
                %a{href: "#"}= fa_icon 'play'